.markdown {
  line-height: 1.6;
  font-size: 14px;
}
.markdown > :first-child {
  margin-top: 0 !important;
}
.markdown > :last-child {
  margin-bottom: 0 !important;
}
.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table,
.markdown pre {
  margin: 15px 0;
}
.markdown h1 + p,
.markdown h2 + p,
.markdown h3 + p,
.markdown h4 + p,
.markdown h5 + p,
.markdown h6 + p {
  margin-top: 0;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  line-height: 1.6;
  cursor: text;
  -webkit-font-smoothing: antialiased;
}
.markdown h1 {
  color: black;
  font-size: 28px;
}
.markdown h2 {
  border-bottom: 1px solid #ccc;
  color: black;
  font-size: 24px;
}
.markdown h3 {
  font-size: 18px;
}
.markdown h4 {
  font-size: 16px;
}
.markdown h5 {
  font-size: 14px;
}
.markdown h6 {
  color: #777;
  font-size: 14px;
}
.markdown hr {
  padding: 0px;
  height: 4px;
  border: 0 none;
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAIklEQVQIW2NkQAXGMC4jkjhcECh2FiaBIghSDJLAEARJAABzRgM4pXO10AAAAABJRU5ErkJggg==) repeat-x 0 0;
  color: #ccc;
}
.markdown ul,
.markdown ol {
  padding-left: 30px;
}
.markdown ul li > :first-child,
.markdown ol li > :first-child {
  margin-top: 0;
}
.markdown ul ul,
.markdown ol ul,
.markdown ul ol,
.markdown ol ol {
  margin-bottom: 0;
}
.markdown dl {
  padding: 0;
}
.markdown dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
.markdown dl dt:first-child {
  padding: 0;
}
.markdown dl dt > :first-child {
  margin-top: 0;
}
.markdown dl dt > :last-child {
  margin-bottom: 0;
}
.markdown dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.markdown dl dd > :first-child {
  margin-top: 0;
}
.markdown dl dd > :last-child {
  margin-bottom: 0;
}
.markdown blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
}
.markdown blockquote > :first-child {
  margin-top: 0;
}
.markdown blockquote > :last-child {
  margin-bottom: 0;
}
.markdown table th {
  font-weight: bold;
}
.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #ccc;
}
.markdown table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
.markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.markdown img {
  max-width: 100%;
}
.markdown code,
.markdown tt {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.markdown pre > code {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  white-space: pre;
}
.markdown pre {
  overflow: auto;
  padding: 6px 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 13px;
  line-height: 19px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.markdown pre code,
.markdown pre tt {
  border: none;
  background-color: transparent;
}
